<!doctype html>
{% extends "base.html" %}
{% block login %}
<li><a href={{ userlog }}><span class="glyphicon glyphicon-{{ userlogimage }}"></span> {{ userlogtext }}</a></li>
{% endblock %}
{% block body %}


  <div class="container" style="width:81%; margin-top: 5%; background: #CDCDCD; padding:5%">
    <hr>
    <hr>
    <p style="font-size: -webkit-xxx-large; text-align: center;">
      Timed Practical AWS Cloud System Development<br>
      Cloud Computing (COSC2626)
    </p>
    <hr>
    <hr>
    <p style="font-size: -webkit-xxx-large;"> Name - Rashbir Singh Kohli </p>
    <p style="font-size: -webkit-xxx-large;"> Student ID - s3810585 </p>
    <p style="font-size: -webkit-xxx-large;"> Masters of Data Science </p>
    <p style="font-size: -webkit-xxx-large;"> Email - s3810585@student.rmit.edu.au </p>
  </div>

{% endblock %}