<!doctype html>
{% extends "base.html" %}
{% block login %}
<li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block body %}
<h1 style="color: #CDCDCD;
    padding-left: 9.5%;
    padding-bottom: 3%;">API PAGE</h1>


<div class="container">
    <div class="row">
        <div class="col col-lg-12"
             style="background: #CDCDCD;
             flex: 1;
             height: -webkit-fill-available;
             background: lightgrey;
             border: 3px solid grey;">
            <h1 style="font-size: -webkit-xxx-large+30px; text-align: center;">Type Keyword to get summary about it</h1><br>

            <div class="container" style="width:80%; padding-top: 5%;">
                <form action="APITextToSearch" method="POST"
                      enctype="multipart/form-data">
                    <input type="text" name="TextToSearch" class="form-control"/>
                    <br> <br>
                    <input type="submit" class="btn btn-primary" style="width:100%">
                </form>

            </div>

        </div>
    </div>

    {% endblock %}